<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/assets/img/machine-learning.png"> -->
    <link rel="icon" href="{{ url_for('static', filename='/assets/img/machine-learning.png') }}">
    <title>Big Mart Sales Forecasting (ML)</title>
    <!-- Bootstrap core CSS -->
    <!-- <link href="/assets/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='/assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- >link href="/assets/css/product.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='//assets/css/product.css') }}" rel="stylesheet">
  </head>

  <body>

    <!-- <nav class="site-header sticky-top py-1"> -->
    <nav class="navbar fixed-top navbar-dark bg-dark">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="{{ url_for('index') }}" style="color: white">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="{{ url_for('ml_model') }}" >ML Model</a>
        <a class="py-2 d-none d-md-inline-block" href="#" >About US</a>
        <!-- <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Cart</a> -->
      </div>
    </nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url('/assets/img/neural-net1.jpeg')">
      <div class="col-md-12 p-lg-12 mx-auto my-12" >
        <h1 class="display-4 font-weight-normal" style="color: white">Big Mart Sales Prediction</h1>
        <h1 class="display-4 font-weight-normal" style="color: white">Machine Learning Project</h1>
        <p class="lead font-weight-normal" style="color: white">In this project, the goal is to build a predictive model and find out the sales of each 
            product at a particular store.</p>
        
        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
      </div>
      <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
      
          <!-- <img src="/assets/img/ml-background.jpg" class="rounded float-left" alt="Responsive image"> -->
      <!-- <div>
          <p class="lead font-weight-normal" style="color: black">In this project, the goal is to predict weekly department wide sales for 
            different departments in Walmart stores around the US.</p>
      </div> -->
      
    </div>

    <div class="bg-dark d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 text-center text-white">
        <h2 class="display-4">Data Exploration</h2>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
       
      <div class="row">
        <div class="col-md-6 text-left bg-light shadow-sm mx-auto">
            <h2 class="display-5">Statistic Summary:</h2>
            <p>There is huge gap between Max and 75% of Item Outlet Sales which mean there must be some outliers in Sales</p>
            <!-- <img src="/assets/img/test_jointplot.png" width="500" height="450"> -->
            <div id="summarytable" class="">
                <table id="data-table" class="table table-dark table-responsive table-striped">
                  <thead class="">
                    <tr>
                      <th class="table-head"></th>
                      <th class="table-head">Item Outlet Sales</th>
                      <th class="table-head">Store Year</th>
                      <th class="table-head">Item MRP</th>
                      <th class="table-head">Item Weight</th>
                      <th class="table-head">Item Visibility</th>
                    </tr>
                  </thead>
                  <tbody id="sumTbody">
                      <!-- start here and append table content from js-->
                  </tbody>
                </table>
              </div>
        </div>
        <div class="col-md-6 text-left bg-light shadow-sm mx-auto">
            <h2 class="display-5">Average Item Sales per Outlet:</h2>
            <p>...something goes here...</p>
            <br>
            <!-- <img src="/assets/img/test_jointplot.png" width="500" height="450"> -->
            <!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3"> -->
      
              
                    <div id="barChart"></div>
                    <p></p><!-- analysis of barchart and piechart-->
                </div>
              </div>
            </div>
  


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="row">
      <div class="col-md-6 text-left bg-light shadow-sm mx-auto">
          <h2 class="display-5">Pie Chart</h2>
          <p>...something goes here...</p>
                  <canvas id="doughnut"></canvas>
              </div>
       
    

      <div class="col-md-6 text-left bg-light shadow-sm mx-auto">
          <h2 class="display-5">Correlation Summary:</h2>
          <p>In this correlation table, Item MRP has the highest correlation with Item Outlet Sales</p>
          <br>
          <!-- <img src="/assets/img/test_jointplot.png" width="500" height="450"> -->
          <div id="summarytable" class="table-responsive">
              <table id="data-table" class="table  table-dark table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th class="table-head"></th>
                    <th class="table-head">Item Outlet Sales</th>
                    <th class="table-head">Store Year</th>
                    <th class="table-head">Item MRP</th>  
                    <th class="table-head">Item Weight</th>
                    <th class="table-head">Item Visibility</th>
                  </tr>
                </thead>
                <tbody id="corrTbody">
                    <!-- start here and append table content from js-->
                </tbody>
              </table>
            </div>
      </div>
    </div>
  </div>


    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Exploratory Analysis Using Boxplot</h2>
          <p class="lead">We will use boxplots to determine how to remove outliers of the data</p>
          <div class="row">
          <div class="column">
          <p>Grouping Factors</p>
          <select id="selection1">
            <option value="item_fat_content">Item Fat Content</option>
            <option value="item_type" selected="selected">Item Type</option>
            <option value="outlet_location_type">Outlet Location Type</option>
            <option value="outlet_size">Outlet Size</option>
            <option value="outlet_type">Outlet Type</option>
          </select>
          </div>
          <div class="spacer"></div>
          <div class="column">
          <p>Horizaon Axis</p>
          <select id="selection2">
            <option value="item_fat_content">Item Fat Content</option>
            <option value="item_type" selected="selected">Item Type</option>
            <option value="outlet_location_type">Outlet Location Type</option>
            <option value="outlet_size">Outlet Size</option>
            <option value="outlet_type">Outlet Type</option>
          </select>
          </div>
          <div class="column">
          <p>Plot</p>
          <button id="myBtn">Try it</button>
          </div>
          </div>
        </div>
        <div class="bg-dark shadow-sm mx-auto" id="myDiv"></div>
      </div>

      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Correlation Classfication Matrix</h2>
          <p class="lead">We use Heatmap to desmontrate the correlation of each independet variable</p>
          <div class="bg-light shadow-sm mx-auto" id="myDiv2"></div>
        </div>
        <!-- <img src="/assets/img/test_jointplot.png" width="500" height="450"> -->
        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
      </div>
    </div>

    <div class="bg-dark d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 text-center text-white">
      <h2 class="display-4 class=bg-warning">Data Cleanup and Features Engineering</h2>
  </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <!-- <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"> -->
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Data Cleanup</h2>
          <p class="lead">Data cleanup were done through Jupyter Notebook and see below for sample codes</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="{{ url_for('static', filename='/assets/img/data_cleanup_sample.png') }}" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Features Engineering</h2>
          <p class="lead">Features engineering were done through Jupyter Notebook and see below for sample codes</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <img src="{{ url_for('static', filename='/assets/img/features_engineering_sample.JPG') }}" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; 2018</small>
          <!-- <img src="/assets/img/test_jointplot.png" width="500" height="450"> -->
          
        </div>
        <!-- <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
      -->
        <!-- <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
          </ul>
        </div> -->
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-slim.min.js"><\/script>')</script>

    <!-- <script src="/assets/js/popper.min.js"></script>-->
    <script src="{{ url_for('static', filename='/assets/js/popper.min.js') }}"></script>
    <!--<script src="/assets/js/bootstrap.min.js"></script> -->
    <script src="{{ url_for('static', filename='/assets/js/bootstrap.min.js') }}"></script>
    <!-- <script src="/assets/js/holder.min.js"></script> -->
    <script src="{{ url_for('static', filename='/assets/js/holder.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

    <!-- <script src="/assets/js/boxplot.js"></script> --> 
    <script src="{{ url_for('static', filename='/assets/js/boxplot.js') }}"></script>
    <!-- <script src="/assets/js/heatmap.js"></script> -->
    <script src="{{ url_for('static', filename='/assets/js/heatmap.js') }}"></script>
    <!-- <script src="/assets/js/app.js"></script> -->
    <script src="{{ url_for('static', filename='/assets/js/app.js') }}"></script>
    
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
